body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.piano-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.piano-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
    transform-origin: top left;
}

.key {
    width: 40px;
    height: 150px;
    border: 1px solid #000;
    margin: 1px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.white-key {
    background-color: #fff;
}

.black-key {
    background-color: #000;
    height: 100px;
    width: 30px;
    margin-left: -15px;
    margin-right: -15px;
    z-index: 1;
}

[data-note="F"] { background-color: #4682B4; } /* Darker blue for F */
[data-note="E"] { background-color: #85BF73; } /* Color halfway between Eb (#ADFF2F) and new F (#4682B4) */

#reset-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#active-tones {
    margin-top: 20px;
    font-size: 18px;
}

/* Media queries for responsive design */
@media (max-width: 800px) {
    .piano-container {
        transform: scale(0.8);
    }
}

@media (max-width: 600px) {
    .piano-container {
        transform: scale(0.6);
    }
}

@media (max-width: 400px) {
    .piano-container {
        transform: scale(0.4);
    }
}
